* {
    margin: 0;
    padding: 0;
}

html,
body {
    height: 100%;
}

.main {
    overflow: auto;
    padding-bottom: 300px;
}

#body-main {
    min-height: 100%;
    background-image: url(images/background.jpg);
    background-position: top;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    height: auto;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
}

.mySlides {
    display: none;
}

img {
    vertical-align: middle;
    width: 736px;
    height: 600px;
}

#box {
    position: fixed;
    font-size: 24px;
    cursor: pointer;
    transition: all .6s;
    width: 30px;
}

.sidenav {
    position: fixed;
    top: 0px;
    left: 0px;
    height: 100%;
    width: 0px;
    background-color: #222;
    z-index: 1;
    padding-top: 100px;
    overflow-x: hidden;
    transition: all .5s;
    opacity: 0.6;
}

.sidenav a {
    padding: 8px 8px 8px 64px;
    text-decoration: none;
    font-size: 20px;
    color: #999;
    display: block;
}

.sidenav a:hover {
    color: white;
}

.sidenav .closebtn {
    position: absolute;
    top: 0px;
    right: 25px;
    font-size: 36px;
    margin-left: 32px;
}

.text2 {
    color: black;
    text-shadow: 2px 2px white;
}

.text1 {
    color: black;
    font-weight: bold;
    font-size: 3em;
    height: 690px;
}

.slideshow-container {
    max-width: 1000px;
    position: relative;
    margin: auto;
}

.prev,
.next {
    cursor: pointer;
    position: auto;
    top: 50%;
    width: auto;
    padding: 16px;
    margin-top: -22px;
    color: white;
    font-weight: bold;
    font-size: 18px;
    transition: 0.6s ease;
    border-radius: 0 3px 3px 0;
    user-select: none;
    margin-left: 30%;
}

.next {
    right: 0;
    border-radius: 3px 0 0 3px;
}

.prev:hover,
.next:hover {
    background-color: rgba(0, 0, 0, 0.8);
}

.numbertext {
    color: #f2f2f2;
    font-size: 12px;
    padding: 8px 12px;
    position: absolute;
    top: 0;
}

.dot {
    cursor: pointer;
    height: 15px;
    width: 15px;
    margin: 0 2px;
    background-color: #bbb;
    border-radius: 50%;
    display: inline-block;
    transition: background-color 0.6s ease;
}

.active,
.dot:hover {
    background-color: #717171;
}

.fade {
    -webkit-animation-name: fade;
    -webkit-animation-duration: 1.5s;
    animation-name: fade;
    animation-duration: 1.5s;
}

@-webkit-keyframes fade {
    from {
        opacity: .4
    }
    to {
        opacity: 1
    }
}

@keyframes fade {
    from {
        opacity: .4
    }
    to {
        opacity: 1
    }
}

@media only screen and (max-width: 300px) {
    .prev,
    .next,
    .text {
        font-size: 11px
    }
}

.foot {
    background-color: rgba(61, 60, 60, 0.418);
    color: white;
    position: relative;
    height: 200px;
    margin-top: auto;
    clear: both;
    text-align: center;
    font-size: 1.5em;
}

.foot a {
    color: white;
}